.relatives {
  border: 1px solid black;
  border-radius: 1rem;
  margin: 3rem 1rem;
  width: 80vw;
  height: 40vh;
  padding: 1rem;
  position: relative;

  &__heading {
    position: absolute;
    top: -3.6rem;
    left: 2rem;
    font-size: 2rem;
    z-index: 111111;
    background: white;
  }

  &__container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 90%;
    padding: 1rem;
  }

  &__name {
    text-decoration: underline;
  }

  &__relationship {
    color: tomato;
  }
}