html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  font-family: "Press Start 2P", sans-serif;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🍔</text></svg>")
      16 0,
    auto;
  overflow-x: hidden;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 0.6rem;

  &__container {
    display: flex;
  }

  &__back-button {
    width: 180px;
    height: 50px;
    background: yellow;
    color: black;
    border-radius: 2rem;
    padding: 0.5rem;
    font-family: inherit;
    font-size: 0.5rem;
    cursor: pointer;
  }
}



